<%
@title = 'Error repo not found!'
%>

<div id="button_menu">
<p>
  <a class="button_link" href="/">back</a>
</p>
</div>

<div id="message_box">
  <p>how could your programs fight if you don't even know their names?<br />Enter a valid repository URL!</p>
</div>

<img src="/img/characters-extra/castor.gif" alt="castor" />