<%
@title = 'Error same repo twice!'
%>

<div id="button_menu">
<p>
  <a class="button_link" href="/">back</a>
</p>
</div>

<div id="message_box">
  <p>perhaps your program <b><%= @repo_name %></b> decided to commit a suicide?<br />I am deeply sorry!</p>
</div>

<img src="/img/characters-extra/castor.gif" alt="castor" />