<%
@title = 'Program not found!'
%>

<div id="button_menu">
<p>
  <a class="button_link" href="/">back</a>
</p>
</div>

<div id="message_box">
  <p>I beg your pardon, but I don't seem to know one of these programs on my grid!</p>
</div>

<img src="/img/characters-extra/castor.gif" alt="castor" />