<%
@title = 'API limit exceeded'
%>

<div id="button_menu">
<p>
  <a class="button_link" href="/">reconnect</a>
</p>
</div>

<div id="message_box">
  <p>This grid has been temporarly closed due to a nasty infection, our <b>data pushers</b> are working on it!<br />
  Retry in a few minutes...</p>
</div>

<img src="/img/characters-extra/infected-program.png" alt="infected program" />